
md-sidenav-container.custom{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex !important;
  flex-direction: row;

  & > .mat-sidenav-content{
    flex: 1;
    display: block;
    flex-grow: 1;
  }

  & > md-sidenav{
    position: relative !important;
    width: 3rem;
    min-width: 0px !important;
    height: 100%;
    transform: none !important;
    overflow: hidden;
    transition: all 0.2s;
    border-right: solid 1px #ccc;
    display: block;
    flex-shrink: 0;
    box-shadow: none !important;
    transition: width .4s cubic-bezier(.25,.8,.25,1) !important;
    flex-grow: 0;
    
    &.mat-sidenav-opening{
      width: 16rem;
    }
    .mat-sidenav-closed{
      visibility: visible !important;
    }
  }

  & > .mat-sidenav-backdrop{
    &.mat-sidenav-shown{
      visibility: hidden !important;
    }
  }

}

