<cm-content-container>
  <cm-toolbar-sub-title subTitle="Device List"></cm-toolbar-sub-title>
  <table>
    <thead>
      <th>{{'DeviceList.DeviceID' | translate}}</th>
      <th>{{'DeviceList.Location' | translate}}</th>
      <th>{{'DeviceList.Connectivity' | translate}}</th>
      <th>{{'DeviceList.LatestStatus' | translate}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of lightings" (click)="deviceDetail(item)">
        <td>{{ item.id }}</td>
        <td>{{ item.vendorThingID }}</td>
        <td>{{ item.connectivity }}</td>
        <td>{{ item.status? item.status.Power:0 }}</td>
      </tr>
    </tbody>
  </table>
</cm-content-container>
