<swipe-wrapper [index]="swipeTabIndex$ | async">
  <swipe-tab>
    <bas-sidenav-container fullscreen>
      <bas-sidenav #sidenav mode="side" [opened]="showSidenav$ | async">
        <side-nav-content (toggleMenu)="toggleSidenav()"></side-nav-content>
      </bas-sidenav>
      <div class="main">
        <bas-toolbar (showUser)="showUserInfo()" [menuVisible]="showSidenav$ | async">
          Book Collection
        </bas-toolbar>
        <div class="content-container">
          <router-outlet (activate)="onRouteActivated()"></router-outlet>
        </div>
      </div>
    </bas-sidenav-container>
  </swipe-tab>
  <swipe-tab activeClass="user-info">
    <user-info></user-info>
  </swipe-tab>
</swipe-wrapper>