<swipe-wrapper [index]="swipeTabIndex$ | async">
  <swipe-tab>
    <md-sidenav-container fullscreen>
      <md-sidenav #sidenav mode="side" [opened]="showSidenav$ | async">
        <side-nav></side-nav>
      </md-sidenav>
      <div class="content-container">
        <bas-toolbar (toggleMenu)="toggleSidenav()" (showUser)="showUserInfo()" [menuVisible]="showSidenav$ | async">
          Book Collection
        </bas-toolbar>

        <router-outlet (activate)="onRouteActivated($event)"></router-outlet>
      </div>
    </md-sidenav-container>
  </swipe-tab>
  <swipe-tab [activeClass]="'user-info'">
    <user-info></user-info>
  </swipe-tab>
</swipe-wrapper>