<div class="login-page" #loginPage>
	<video id="vid" 
		autoplay="autoplay"
		style="position: absolute; left: 0px; top: 0px; height: 100%;"
		muted="muted" 
		loop="loop" 
		autobuffer="autobuffer"
		preload="auto" 
		oncontextmenu="return false" 
		data-hasaudio="" 
		src="//az29176.vo.msecnd.net/videocontent/SF_SutroBaths-4K_nimia_573584_768_ZH-CN.mp4"
	></video>

	<form class="login-form" [formGroup]="loginForm">
		<div>
			<md-input-container>
				<input 
					mdInput 
					placeholder="{{'Login.Username' | translate}}" 
					formControlName="userName"
				>
			</md-input-container>
		</div>

		<div>
			<md-input-container>
				<input 
					mdInput 
					type="password"
					placeholder="{{'Login.Password' | translate}}" 
					formControlName="password"
				>
			</md-input-container>
		</div>

		<div>
			<button md-icon-button (click)="login()" class="login-btn">
				<md-icon>navigation</md-icon>
			</button>
		</div>
	</form>

	<!--
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
        	<img src="assets/img/SB-admin.png" width="150px" height="150px" class="user-avatar" />
			<h1>B A S</h1>
			<form role="form" (submit)="login()" autocomplete="false">
				<div class="form-content">
					<div class="form-group">
						<input type="text" name="username" autocomplete="false" [(ngModel)]="credentials.userName" class="form-control input-underline input-lg" id="" placeholder="Username">
					</div>

					<div class="form-group">
						<input type="password" name="password" autocomplete="false" class="form-control input-underline input-lg" [(ngModel)]="credentials.password" placeholder="Password">
					</div>
				</div>
				<button class="btn rounded-btn" type="submit"> {{ 'Home.Login' | translate }} </button>
			</form>
		</div>
	</div>
	-->
</div>
