.device-detail {
  margin-top: 30px;
  background: #f4f8f9;
  height: 1000px;
  .info-container {
    width: 1204px;
    margin: 0 auto;
    margin-top: 30px;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    .info {
      width: 900px;
      background: #fff;
      padding: 20px 30px;
      border: 1px solid #ebebeb;
      font-size: 13px;
      md-icon {
        vertical-align: middle;
        margin-right: 20px;
      }
      p {}
      section {
        display: flex;
        align-content: center;
        align-items: center;
        height: 40px;
        line-height: 40px;
        padding: 5px 0;
        label {
          width: 190px;
          border-right: 1px solid #dbdbdb;
          margin-right: 40px;
        }
        section {
          label {
            width: 100%;
            margin-right: 20px;
            border: 0;
          }
        }
      }
    }
    .switch {
      width: 220px;
      background: #fff;
      margin-left: 20px;
      border: 1px solid #ebebeb;
    }
  }
  .tabs {
    align-items: center;
    margin-top: 10px;
    margin: 40px auto 0 auto;
    .mat-tab-label {
      line-height: 35px;
      height: 35px;
      border: 1px solid #ebebeb;
      background: #e9f4fa;
      margin: 0 5px;
      min-width: 0;
      color: #65696c;
    }
    .mat-tab-label-active {
      background: #2ca1f4;
      color: #fff;
    }
    table {
      width: 1204px;
      padding: 20px;
      border-collapse: collapse;
      border: 1px solid #ebebeb;
      background: #fff;
      color: #31384a;
      font-size: 13px;
      font-weight: normal;
      th {
        font-size: 16px;
        padding: .85rem 1.2rem;
        background: #f5f5f5;
        font-size: 13px;
        font-weight: normal;
      }
      td {
        font-size: 14px;
        text-align: center;
        padding: .85rem 1.2rem;
      }
      tbody tr:nth-child(even) {
        background-color: #f9f9f9;
      }
    }
  }
}
