@import '~leaflet/dist/leaflet.css';
@import './leaflet-plugins/back-button/back-button.control.scss';
@import './leaflet-plugins/selection-button/selection-button.control.scss';

.bas-map-container {
  width: 100%;
  height: 100%;
  .bas-map-target { 
    width: 100%;
    height: 100%;
  }
}

path.leaflet-interactive.disabled {
  pointer-events: none !important;
}
