.device-detail {
  margin-top: 30px;
  width: 1000px;
  margin: 0 auto;
  .card-container {
    margin-top: 30px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    .info {
      width: 750px; 
      // label {
      //   float: left;
      //   width: 200px;
      // }
      section {
        display: flex;
        align-content: center;
        align-items: center;
        height: 48px;
        label {
          width: 200px;
          margin: 0 10px;
        }
      }
      .example-margin {
        margin: 0 10px;
      }
    }
    .switch {
      width: 100px;
      margin-left: 50px;
    }
  }
  .tabs {
    align-items: center;
    margin-top: 10px;
    table {
      width: 100%;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
      thead {
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgba(0, 0, 0, 0.117647);
      }
      th {
        font-size: 16px;
        padding: .85rem 1.2rem;
      }
      td {
        font-size: 14px;
        text-align: center;
        padding: .85rem 1.2rem;
      }
    }
  }
}
