<div class="device-detail">

  <!--<table>
    <thead>
      <th>{{'DeviceList.DeviceID' | translate}}</th>
      <th>{{'DeviceList.Location' | translate}}</th>
      <th>{{'DeviceList.Connectivity' | translate}}</th>
      <th>{{'DeviceList.LastestStatus' | translate}}</th>
    </thead>
    <tbody>
      <tr>
        <td>{{ Lighting$.id }}</td>
        <td>{{ Lighting$.vendorThingID }}</td>
        <td>{{ Lighting$.connectivity }}</td>
        <td>{{ Lighting$.status? Lighting$.status.Power:0 }}</td>
      </tr>
    </tbody>
  </table>-->

  <div class="card-container">
    <md-card class="example-card info">
      <md-card-header>
        <md-card-title>info</md-card-title>
      </md-card-header>
      <md-card-content>
        <section>
          <label>{{'DeviceList.DeviceID' | translate}}</label>
          <div>{{ Lighting$.id }}</div>
        </section>
        <section>
          <label>{{'DeviceList.Location' | translate}}</label>
          <div>{{ Lighting$.vendorThingID }}</div>
        </section>
        <section>
          <label>{{'DeviceList.Connectivity' | translate}}</label>
          <div>{{ Lighting$.connectivity? 1:0 }}</div>
        </section>
        <section>
          <label>{{'DeviceList.LatestStatus' | translate}}</label>
          <md-slider [(ngModel)]="Lighting$.status.Brightness" [disabled]="true"></md-slider>
        </section>
        <!--<label>{{'DeviceList.LastestStatus' | translate}}</label>
        <div>{{ Lighting$.status? Lighting$.status.Power:0 }}</div>-->
      </md-card-content>
    </md-card>

    <md-card class="switch">
      <md-card-content>

      </md-card-content>
    </md-card>
  </div>

  <md-tab-group class="tabs">
    <md-tab (click)="getProfile()" label="{{'DeviceList.DeviceDetail.Profile' | translate}}">
      <table>
        <thead>
          <th>Profile ID</th>
          <th>Profile Name</th>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </md-tab>
    <md-tab (click)="getCommandHistory()" label="{{'DeviceList.DeviceDetail.CommandHistory' | translate}}">
      <table>
        <thead>
          <th>action</th>
          <th>state</th>
          <th>time</th>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </md-tab>
    <md-tab (click)="getStateHistory()" label="{{'DeviceList.DeviceDetail.StateHistory' | translate}}">
      <table>
        <thead>
          <th>action</th>
          <th>state</th>
          <th>time</th>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </md-tab>
  </md-tab-group>
  <!--<div>
    <ul>
      <li >{{"DeviceList.DeviceDetail.CommandHistory" | translate}}</li>
      <li >{{"DeviceList.DeviceDetail.StateHistory" | translate}}</li>
    </ul>
  </div>-->
</div>
